.historyList {
    margin-top: 30px;
}

.historyItem {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    display: flex;
    text-align: left;
}

.grayText {
    color: #666666;
}

.darkText {
    color: #0b044b;
}

.historyDate {
    margin-bottom: 10px;
}

.progressLine {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 5px;
    width: 100%;
    margin-top: 5px;
}

.progressRight {
    background: #269b26;
}

.progressWrong {
    background: #b23636;
}
