body {
  /*background: linear-gradient(to right, #a1c4fd 0%, #a1c4fd 100%);*/
  background: linear-gradient(to right, #6686bb 0%, #375382 100%);;
}

.App {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
}

.greeting {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffffad;
  padding: 20px;
  border-radius: 16px;
  border: 8px solid #00000014;
  font-family: 'Balsamiq Sans', cursive;
}

.fieldItem {
  flex-direction: column;
  display: flex;
}

.roundInput {
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #868686;
  padding: 2px 10px;
  height: 40px;
  margin-bottom: 16px;
  font-size: 24px;
}

.alina {
  color: #ff4a4a;
}

.submit_btn {
  margin-top: 20px;
  padding: 10px 25px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 24px;
  background: #53a2c12e;
  border-radius: 4px;
  border: 1px solid #3177932e;
  color: #fff;
}

.reset_btn {
  color: #ffffffc2;
}

.start_btn {
  background: #3b588b;
  border: 1px solid #1d355f;
}

.container {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
